<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
</head>
<body>
  <app-header></app-header>
  <div class="row">
    <div class="column">
        <div id="search-item">
            <label>Search</label><br>
            <input type="text" id="searchBox" name="searchBox" [(ngModel)]="filterName"/>
        </div>
        <div>
            <button id="newFood" (click)="generateForm()">Add New Food</button>
        </div>
        <ng-template host></ng-template>
        <div *ngIf="show">
            <form #form="ngForm" id="contactContainer">
                <div id="row">
                    <label for="name">Name</label>&nbsp;&nbsp;
                    <input type="text" id="name" name="name" [(ngModel)]="newItem.name" required/>
                </div>
                <br>
                <div id="row">
                    <label for="email">Calories</label>&nbsp;&nbsp;
                    <input type="text" id="calories" name="calories" [(ngModel)]="newItem.caloriesCount" required/>
                </div>
                <br>
                <div id="row">
                    <label for="phone">Image</label>&nbsp;&nbsp;
                    <input type="url" id="image" name="image" [(ngModel)]="newItem.image" required/>
                </div>
                <br>
                <button id="submit" (click)="addFoodItem(form)">Submit</button>
           </form>
        </div>
    </div>
    <div class="column">
        <div id="totalCalories">Today's Foods {{s}} cal</div>
        <ul *ngFor="let i of items">
            <li id={{i.name}}{{i.name}}>{{i.name}} {{i.caloriesCount}} </li>
        </ul>
    </div>
</div>

<div id="displayContainer">
    <div *ngIf="loop1">
    <div  *ngFor="let item of foodItems"> 
        
        <div id="item-container">
            <div id="col-1">
                <div>
                    <img  width="200vw" height="140vh" src={{item.image}} alt="food-item-image" />
                </div>
            </div>
            <div id="col-2" >
                    <div class="item" id="item-name" >{{item.name}}</div>
                    <div class="item" >Calory - <span id="item-calory" style="color:rgb(226, 2, 2);">{{item.caloriesCount}}</span></div>
                    <div class="item"><input type="text" id="item-count" name="count"> <button id="add-items" name="add-items" (click)="addItems(item)">Add</button></div>
            </div>
        </div>
    </div>
    </div>
    <div *ngIf="loop2">
    <div  *ngFor="let item of foodItems  | filter:filterName"> 
        
        <div id="item-container">
            <div id="col-1">
                <div>
                    <img  width="200vw" height="140vh" src={{item.image}} alt="food-item-image" />
                </div>
            </div>
            <div id="col-2" >
                    <div class="item" id="item-name" >{{item.name}}</div>
                    <div class="item" >Calory - <span id="item-calory" style="color:rgb(226, 2, 2);">{{item.caloriesCount}}</span></div>
                    <div class="item"><input type="text" id={{item.name}} name="count"/> <button id="add-items" name="add-items" (click)="addItems(item)">Add</button></div>
            </div>
        </div>
    </div>
    </div>
</div>
</body>
</html>